<div fxLayout="column">
    <span class="nome">{{jogador.nome}}</span>
    <div class="base" fxLayout="row" fxLayoutAlign="center center">
        <img class="vida-icone clicavel" (click)="mudarVida(+1)" src="../../../assets/icones/vida.png" aria-label="Aumenta o valor da vida base" matTooltip="Aumentar Vida" matTooltipPosition="above">
        <span class="vida clicavel" (click)="mudarVida(-1)" [ngClass]="{'negativo': jogador.vida <= 0}" aria-label="Diminui o valor da vida base" matTooltip="Diminuir Vida" matTooltipPosition="above">{{jogador.vida}}</span>
        <span fxFlex></span>
        <img src="../../../assets/icones/veneno.png" (click)="mudarVeneno(-1)" class="clicavel" aria-label="Diminui a quantidade de marcadores de veneno" matTooltip="Retirar Marcador de Veneno" matTooltipPosition="above">
        <span class="veneno clicavel" [ngClass]="{'negativo': jogador.veneno >= 10}" (click)="mudarVeneno(+1)" aria-label="Aumenta a quantidade de marcadores de veneno" matTooltip="Adicionar Marcador de Veneno" matTooltipPosition="above">
            {{jogador.veneno}}
        </span>
    </div>
    <div class="comandos" fxLayout="row" fxLayoutAlign="space-evenly">
        <img class="espada-botao" (click)="definirComandantes()" *ngIf="jogador.danos.length === 0" src="../../../assets/icones/espada.png" aria-label="Definir os dados de comandantes" matTooltip="Definir Danos de Comandantes" matTooltipPosition="above">
        <img class="espada-botao" [matMenuTriggerFor]="confirmarRedefinirComandantesMenu" *ngIf="jogador.danos.length > 0" src="../../../assets/icones/espada.png" aria-label="Redefinir os dados de comandantes" matTooltip="Redefinir Danos de Comandantes" matTooltipPosition="above">
        <div class="reiniciar" fxLayout="row" fxLayoutAlign="center">
            <img [matMenuTriggerFor]="reiniciarMenu" src="../../../assets/icones/reiniciar.png" aria-label="Reinicia as estatísticas do jogador" matTooltip="Reiniciar Estatísticas" matTooltipPosition="above">
        </div>
        <div class="sair" fxLayout="row" fxLayoutAlign="center">
            <img [matMenuTriggerFor]="confirmarExclusaoMenu" src="../../../assets/icones/sair.png" aria-label="Retirar o jogador da sala" matTooltip="Retirar da Sala" matTooltipPosition="above">
        </div>
    </div>
    <div class="danos" fxLayout="column" fxLayoutAlign="center center">
        <div *ngFor="let comandante of jogador.danos" fxLayout="row">
            <span class="adversario">{{comandante.nome}}</span>
            <img src="../../../assets/icones/espada.png" (click)="mudarDano(comandante, -1)" class="clicavel" aria-label="Diminui a quantidade de dano deste comandante no jogador" matTooltip="Retirar Dano de Comandante" matTooltipPosition="above">
            <span class="clicavel" (click)="mudarDano(comandante, +1)" [ngClass]="{'negativo': comandante.dano > 20}" aria-label="Aumenta a quantidade de dano deste comandante no jogador" matTooltip="Adicionar Dano de Comandante" matTooltipPosition="above">
                {{comandante.dano}}
            </span>
        </div>
    </div>
</div>

<mat-menu #confirmarRedefinirComandantesMenu="matMenu">
    <button mat-menu-item (click)="definirComandantes()" class="botao-menu" aria-label="Confirma a ação de redefinir os dados de comandantes">
        <img src="../../../assets/icones/espada.png">
        <span>Confirmar</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item class="botao-menu" aria-label="Cancela a ação de redefinir os dados de comandantes">
        <img src="../../../assets/icones/cancelar.png">
        <span>Cancelar</span>
    </button>
</mat-menu>

<mat-menu #confirmarExclusaoMenu="matMenu">
    <button mat-menu-item (click)="retirarDaSala()" class="botao-menu" aria-label="Confirma a ação de retirar um jogador da sala">
        <img src="../../../assets/icones/sair.png">
        <span>Confirmar</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item class="botao-menu" aria-label="Cancela a ação de retirar um jogador da sala">
        <img src="../../../assets/icones/cancelar.png">
        <span>Cancelar</span>
    </button>
</mat-menu>

<mat-menu #reiniciarMenu="matMenu">
    <button mat-menu-item (click)="reiniciarJogador(20)" aria-label="Reinicia com 20 pontos de vida iniciais">
        <span>20 Pontos de Vida</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="reiniciarJogador(30)" aria-label="Reinicia com 20 pontos de vida iniciais">
        <span>30 Pontos de Vida</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="reiniciarJogador(40)" aria-label="Reinicia com 20 pontos de vida iniciais">
        <span>40 Pontos de Vida</span>
    </button>
</mat-menu>
