app-carta {
    background-image: url('src/assets/imagens/carta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 240px;
    height: 320px;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;

    .nome {
        position: relative;
        top: 17px;
        text-align: center;
        font-weight: bolder;
        font-size: 24px;
    }

    .base {
        position: relative;
        top: 25px;

        .vida-icone {
            margin-left: 25px;
            margin-bottom: 3px;
        }

        .vida {
            font-size: 48px;
        }

        .veneno {
            font-size: 30px;
            margin-right: 25px;
        }

    }

    .danos {
        position: relative;
        width: 100%;
        top: 40px;
        font-size: 16px;

        .adversario {
            text-align: right;
        }

    }

    .comandos {
        position: relative;
        top: 30px;

        .espada-botao {
            cursor: pointer;
        }
    
        .reiniciar {
            cursor: pointer;
        }
    
        .sair {
            cursor: pointer;
        }
    
    }


}

.negativo {
    color: #FF0000;
}

.botao-menu {
    font-size: 16px;
    padding: 0 16px;
    > img {
        position: relative;
        top: 3px;
        margin-right: 5px;
    }
}    

.clicavel {
    cursor: pointer;
}
