h1, h3 {
    text-align: center;
}

button {
    font-size: 22px;
    padding: 10px 0px 10px 0px;
}

.rodape-espacador {
    height: 50px !important;
}

.botao-atualizar-unico {
    position: fixed;
    bottom: 12px;
    z-index: 99;
    left: calc( 50% - 28px);
    padding: 0;
}

.adversario-cabecalho {
    color: #999999;
    margin-bottom: 5px;
}

.adversario-item {
    cursor: pointer;
    &:hover {
        background-color: #AAAAAA;
    }
}

.adversario-estatisticas {
    overflow: hidden;
    white-space: nowrap;    
}

.adversario-vida {
    font-size: 22px;
}

.adversario-veneno {
    font-size: 18px;
}

.adversario-dano-comandante {
    font-size: 14px;
}

.adversario-barra {
    font-size: 10px;
    margin-left: 4px;
    margin-right: 3px;
}

.texto-positivo {
    color: #0000FF;
}

.texto-negativo {
    color: #FF0000;
}

.botao-menu {
    font-size: 16px;
    padding: 0 16px;
    > img {
        position: relative;
        top: 3px;
        margin-right: 5px;
    }
}