<div fxLayoutAlign="center center">
    <!-- Login do Jogador -->
    <div *ngIf="!jogadorLogado" class="inicio" fxFlex.xs="90" fxFlex="390px" fxLayout="column" fxLayoutGap="24px">
        <h3>{{titulo}}</h3>
        <form *ngIf="login" [formGroup]="login" name="login" fxFlex.xs="100" fxFlex="390px" fxLayout="column" fxLayoutGap="24px">
            <mat-form-field appearance="outline">
                <mat-label>Nome da Sala</mat-label>
                <input matInput formControlName="sala" maxlength="255" required>
                <img src="../../../assets/icones/meeting_room.png" matSuffix>
                <mat-hint>Apenas um jogador deve criar a sala. Os outros jogadores devem apenas entrar na sala, usando o mesmo nome.</mat-hint>
                <mat-error align="right">Este campo é obrigatório!</mat-error>
            </mat-form-field>        
            <mat-form-field appearance="outline">
                <mat-label>Senha da Sala</mat-label>
                <input matInput formControlName="senha" maxlength="255" type="password">
                <img src="../../../assets/icones/chave.png" matSuffix>
                <mat-hint>A senha é opcional e serve para evitar que jogadores não autorizados entrem na sala.</mat-hint>
            </mat-form-field>        
            <mat-form-field appearance="outline">
                <mat-label>Nome do Jogador</mat-label>
                <input matInput formControlName="jogador" maxlength="255" required>
                <img src="../../../assets/icones/rosto.png" matSuffix>
                <mat-hint>Indique um nome ou apelido do jogador que seja diferente de todos os outros participantes da sala.</mat-hint>
                <mat-error align="right">Este campo é obrigatório!</mat-error>
            </mat-form-field>        
            <mat-form-field appearance="outline">
                <mat-label>Pontos de Vida Iniciais</mat-label>
                <mat-select formControlName="vida" required>
                    <mat-option value="20">20</mat-option>
                    <mat-option value="30">30</mat-option>
                    <mat-option value="40">40</mat-option>
                    <mat-option value="0">Manter Pontos da Partida Atual</mat-option>
                </mat-select>
                <img src="../../../assets/icones/medidor.png" matSuffix>
                <mat-hint>Indique os pontos de vida iniciais da partida ou recupere os dados anteriores caso tenha saído do aplicativo por engano.</mat-hint>
                <mat-error align="right">Este campo é obrigatório!</mat-error>
            </mat-form-field>        
            <button mat-raised-button color="primary" (click)="jogar('criar')"><img src="assets/icones/criar.png"> Criar uma Nova Sala</button>
            <button mat-raised-button color="primary" (click)="jogar('entrar')"><img src="assets/icones/entrar.png"> Entrar na Sala</button>
        </form>
    </div>
    <!-- /Login do Jogador -->
    <!-- Área de Controle -->
    <div *ngIf="jogadorLogado" class="inicio" fxFlex.xs="90" fxFlex="350px" fxLayout="column" fxLayoutGap="24px">
        <h3>{{titulo}}</h3>
        <mat-tab-group mat-align-tabs="center" (selectedTabChange)="aoTrocarVisao($event)" [(selectedIndex)]="visaoSelecionada">
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="../../../assets/icones/varinha.png">
                    <span>&nbsp;Planeswalker</span>
                </ng-template>
                <app-jogador></app-jogador>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="../../../assets/icones/espadas.png">
                    <span>&nbsp;Adversários</span>
                </ng-template>
                <div>
                    <mat-list>
                        <mat-list-item class="adversario-cabecalho">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
                                <span class="adversario-dano-comandante" fxFlex="50">Jogador</span>
                                <div fxLayout="column" fxLayoutAlign="center end" fxFlex="50">
                                    <span class="adversario-dano-comandante">Pontos de Vida</span>
                                    <span class="adversario-dano-comandante">Marcadores de Veneno</span>
                                    <span class="adversario-dano-comandante">Danos de Comandantes</span>
                                </div>               
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item *ngFor="let adversario of Jogadores" class="adversario-item" [matMenuTriggerFor]="adversarioMenu">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="adversario-estatisticas">
                                <span>{{adversario.nome}}</span>
                                <span fxFlex="100"></span>
                                <span class="adversario-vida"
                                [ngClass]="{'texto-positivo': adversario.vida > 0, 'texto-negativo': adversario.vida < 1}">
                                    {{adversario.vida}}
                                </span>
                                <span class="adversario-barra">&sdot;</span>
                                <span class="adversario-veneno"
                                [ngClass]="{'texto-positivo': adversario.veneno === 0, 'texto-negativo': adversario.veneno > 9}">
                                    {{adversario.veneno}}
                                </span>
                                <div *ngFor="let comandante of adversario.danos">
                                    <span class="adversario-barra">&sdot;</span>
                                    <span class="adversario-dano-comandante"
                                    [ngClass]="{'texto-positivo': comandante.dano === 0, 'texto-negativo': comandante.dano > 20}">
                                        {{comandante.dano}}
                                    </span>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <mat-menu #adversarioMenu="matMenu">
                                <mat-divider></mat-divider>
                                <button mat-menu-item (click)="listarDanos(adversario)" class="botao-menu" aria-label="Permite ver o nome dos comandantes e o dano que cada um deu no jogador">
                                    <img src="../../../assets/icones/quem.png">
                                    <span>Comandantes Atacantes</span>
                                </button>
                                <mat-divider></mat-divider>
                                <button mat-menu-item [matMenuTriggerFor]="confirmaMenu" class="botao-menu" aria-label="Permite retirar um jogador da sala">
                                    <img src="../../../assets/icones/sair.png">
                                    <span>Retirar da Sala</span>
                                </button>
                                <mat-divider></mat-divider>
                                <button mat-menu-item (click)="editarAdversario(adversario)" class="botao-menu" aria-label="Permite editar os pontos de vida e outras estatístivas de um jogador da lista">
                                    <img src="../../../assets/icones/editar.png">
                                    <span>Editar Estatísticas</span>
                                </button>
                                <mat-divider></mat-divider>
                            </mat-menu>
                            <mat-menu #confirmaMenu="matMenu">
                                <button mat-menu-item (click)="retirarDaSala(adversario)" class="botao-menu" aria-label="Confirma a ação de retirar um jogador da sala.">
                                    <img src="../../../assets/icones/sair.png">
                                    <span>Confirmar</span>
                                </button>
                                <mat-divider></mat-divider>
                                <button mat-menu-item class="botao-menu" aria-label="Cancela a ação de retirar um jogador da sala">
                                    <img src="../../../assets/icones/cancelar.png">
                                    <span>Cancelar</span>
                                </button>
                            </mat-menu>
                        </mat-list-item>
                    </mat-list>
                </div>
                <button mat-fab (click)="atualizarSala()" color="primary" class="botao-atualizar-unico" aria-label="Atualizar dados dos jogadores" matTooltip="Atualizar Estatísticas" matTooltipPosition="above">
                    <img src="../../../assets/icones/atualizar.png">
                </button>
            </mat-tab>
        </mat-tab-group>
        <div class="rodape-espacador"></div>
    </div>
    <!-- /Área de Controle -->
</div>
<app-animacao-de-espera [mostrar]="mostrarEspera"></app-animacao-de-espera>