<div fxLayoutAlign="center center">
    <div class="inicio" fxFlex.xs="90" fxFlex="350px" fxLayout="column" fxLayoutGap="24px">
        <h3>App de pontuação de partidas de Magic</h3>
        <h1>Magic<br/>Commander<br/>Desktop</h1>
        <h1></h1>
        <button mat-raised-button color="primary" routerLink="controlador"><img src="assets/icones/controlador.png"> Módulo do Jogador</button>
        <button mat-raised-button routerLink="monitor"><img src="assets/icones/monitor.png"> Módulo do Monitor</button>
        <h1></h1>
        <h3>Desenvolvido por<br/><a href="mailto:edu@ufpa.br" target="_blank">Eduardo Alcântara</a></h3>
        <h3>Mantido por<br/><a href="https://savagecast.com.br/" target="_blank">SavageCast!</a></h3>
    </div>
</div>