h1, h3 {
    text-align: center;
}

.botao-login {
    font-size: 22px;
    padding: 10px 0px 10px 0px;
}

.titulo-sala {
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

.botao-atualizar-unico {
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 99;
    padding: 0;
}

.botao-adicionar-unico {
    position: fixed;
    bottom: 12px;
    left: 12px;
    z-index: 99;
    padding: 0;
}

.novo-jogador {
    padding: 0 16px;
}