<div fxLayoutAlign="center center">
    <!-- Login do Jogador -->
    <div *ngIf="!Login" class="inicio" fxFlex.xs="90" fxFlex="390px" fxLayout="column" fxLayoutGap="24px">
        <h3>{{titulo}}</h3>
        <form *ngIf="login" [formGroup]="login" name="login" fxFlex.xs="100" fxFlex="390px" fxLayout="column" fxLayoutGap="24px">
            <mat-form-field appearance="outline">
                <mat-label>Nome da Sala</mat-label>
                <input matInput formControlName="sala" maxlength="255" required>
                <img src="../../../assets/icones/meeting_room.png" matSuffix>
                <mat-hint>Apenas uma pessoa deve criar a sala. Os outros jogadores devem apenas entrar na sala, usando o mesmo nome.</mat-hint>
                <mat-error align="right">Este campo é obrigatório!</mat-error>
            </mat-form-field>        
            <mat-form-field appearance="outline">
                <mat-label>Senha da Sala</mat-label>
                <input matInput formControlName="senha" maxlength="255" type="password">
                <img src="../../../assets/icones/chave.png" matSuffix>
                <mat-hint>A senha é opcional e serve para evitar que jogadores não autorizados entrem na sala.</mat-hint>
            </mat-form-field>        
            <button mat-raised-button class="botao-login" color="primary" (click)="monitorar('criar')"><img src="assets/icones/criar.png"> Criar uma Nova Sala</button>
            <button mat-raised-button class="botao-login" color="primary" (click)="monitorar('entrar')"><img src="assets/icones/entrar.png"> Entrar na Sala</button>
        </form>
    </div>
    <!-- /Login do Jogador -->
    <!-- Sala de Jogo -->
    <div *ngIf="Login" fxFlex="100" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <span class="titulo-sala">{{Login.sala}}</span>
        </div>
        <div fxLayout="row row-wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxFlex="100">
            <app-carta *ngFor="let jogador of Jogadores" [jogador]="jogador" (apagar)="retirarDaSala(jogador)" (redefinirComandantes)="redefinirComandantes(jogador)" (saida)="atualizarJogador($event)" (reiniciar)="reiniciarJogador(jogador, $event)"></app-carta>
        </div>
        <button mat-fab (click)="atualizarSala()" color="primary" class="botao-atualizar-unico" aria-label="Atualizar dados dos jogadores" matTooltip="Atualizar Estatísticas" matTooltipPosition="above">
            <img src="../../../assets/icones/atualizar.png">
        </button>        
        <button mat-fab [matMenuTriggerFor]="adicionarMenu" color="primary" class="botao-adicionar-unico" aria-label="Adiciona um novo jogador" matTooltip="Adicionar Novo Jogador" matTooltipPosition="above">
            <img src="../../../assets/icones/adicionar.png">
        </button>        
        <mat-menu #adicionarMenu="matMenu">
            <mat-form-field appearance="standard" class="novo-jogador">
                <mat-label>Nome do Jogador</mat-label>
                <input matInput [formControl]="novoJogadorNome" (click)="$event.stopPropagation();" maxlength="255" aria-label="Escolha um nome para o novo jogador" required>
                <img src="../../../assets/icones/rosto.png" matSuffix>
            </mat-form-field>        
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="criarNovoJogador(20)" aria-label="Criar um jogador com 20 pontos de vida iniciais">
                <span>20 Pontos de Vida</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="criarNovoJogador(30)" aria-label="Criar um jogador com 20 pontos de vida iniciais">
                <span>30 Pontos de Vida</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="criarNovoJogador(40)" aria-label="Criar um jogador com 20 pontos de vida iniciais">
                <span>40 Pontos de Vida</span>
            </button>
            <mat-divider></mat-divider>
        </mat-menu>
    </div>
</div>