app-animacao-de-espera {

    position: absolute;

    .spinner-visible {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s linear;
        -webkit-transition: opacity 1s linear;
        -moz-transition: opacity 1s linear;
        -ms-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
    }
    .spinner-hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s .5s, opacity 0.3s linear;            
        -webkit-transition: visibility 0s .5s, opacity 0.3s linear;            
        -moz-transition: visibility 0s .5s, opacity 0.3s linear;            
        -ms-transition: visibility 0s .5s, opacity 0.3s linear;            
        -o-transition: visibility 0s .5s, opacity 0.3s linear;            
    }

    #spinner-container {
        cursor: progress !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.5);
        z-index: 9999;
    }

    #spinner {
        cursor: progress !important;
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: blue;
        animation: spin 2s linear infinite;
        -webkit-animation: spin 2s linear infinite;
        -moz-animation: spin 2s linear infinite;
        -ms-animation: spin 2s linear infinite;
        -o-animation: spin 2s linear infinite;
    }

    #spinner:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: green;
        animation: spin 3s linear infinite;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        -ms-animation: spin 3s linear infinite;
        -o-animation: spin 3s linear infinite;
    }

    #spinner:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: red;
        animation: spin 1.5s linear infinite;
        -webkit-animation: spin 1.5s linear infinite;
        -moz-animation: spin 1.5s linear infinite;
        -ms-animation: spin 1.5s linear infinite;
        -o-animation: spin 1.5s linear infinite;
    }

    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

}