<div id="spinner-container" [ngClass]="{ 'spinner-hidden': !mostrar, 'spinner-visible': mostrar }">
  <div id="spinner" [ngClass]="{ 'spinner-hidden': !mostrar, 'spinner-visible': mostrar }"></div>
</div>
