@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~angular-notifier/styles";

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #111;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.inicio {
    background-image: url('src/assets/imagens/pentadente-cinza.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

notifier-container {
    @media (max-width: 600px) {
        width: 95% !important;
    }
}

notifier-notification {
    @media (max-width: 600px) {
        width: 90% !important;
    }
}