<form *ngIf="jogador" [formGroup]="jogador" name="jogador" fxFlex.xs="100" fxFlex="350px" fxLayout="column">
    <h1>{{jogador?.get('nome')?.value}}</h1>
    <h3>{{Login.sala}}</h3>
    <mat-form-field appearance="outline">
        <mat-label>Pontos de Vida</mat-label>
        <input matInput formControlName="vida" class="vida" max="9999999" 
        [ngClass]="{'texto-negativo': jogador.get('vida').value < 1, 'texto-positivo': jogador.get('vida').value > 0}" required>
        <div matSuffix fxLayout="row" fxLayoutGap="12px">
                <button mat-icon-button (click)="$event.stopPropagation(); alterarVida(+1)" class="vida-icon positivo">+1</button>
                <button mat-icon-button (click)="$event.stopPropagation(); alterarVida(+5)" class="vida-icon positivo">+5</button>
                <button mat-icon-button (click)="$event.stopPropagation(); alterarVida(-5)" class="vida-icon negativo">-5</button>
                <button mat-icon-button (click)="$event.stopPropagation(); alterarVida(-1)" class="vida-icon negativo">-1</button>
        </div>
        <mat-error>Este campo é obrigatório!</mat-error>
    </mat-form-field>     
    <mat-form-field appearance="outline">
        <mat-label>Marcadores de Veneno</mat-label>
        <input matInput formControlName="veneno" class="veneno" min="0" 
        [ngClass]="{'texto-negativo': jogador.get('veneno').value > 9, 'texto-positivo': jogador.get('veneno').value === 0}" required>
        <div matSuffix fxLayout="row" fxLayoutGap="12px">
                <button mat-icon-button (click)="$event.stopPropagation(); alterarVeneno(-1)" class="veneno-icon positivo">-1</button>
                <button mat-icon-button (click)="$event.stopPropagation(); alterarVeneno(+1)" class="veneno-icon negativo">+1</button>
        </div>
        <mat-error>Este campo é obrigatório!</mat-error>
    </mat-form-field>     
    <div formArrayName="danos" *ngFor="let comandante of Comandantes.controls; let i = index" fxLayout="column">
        <div [formGroupName]="i" fxLayout="row">
            <mat-form-field appearance="standard" fxFlex="50">
                <mat-label>Comandante</mat-label>
                <input matInput formControlName="nome" maxlength="255" required>
                <div matSuffix fxLayout="row" fxLayoutGap="12px" class="botoes">
                    <button mat-icon-button (click)="$event.stopPropagation(); apagarComandante(i)" class="apagar">
                        <img src="../../../assets/icones/apagar.png" class="imagem-botao">
                    </button>
                </div>
                <mat-error>Este campo é obrigatório!</mat-error>
            </mat-form-field>     
            <mat-form-field appearance="standard" fxFlex="50">
                <mat-label>Dano</mat-label>
                <input matInput formControlName="dano" min="0" 
                [ngClass]="{'texto-positivo': danoComandante(i) === 0, 'texto-negativo': danoComandante(i) > 20}" required>
                <div matSuffix fxLayout="row" fxLayoutGap="12px" class="botoes">
                    <button mat-icon-button (click)="$event.stopPropagation(); alterarComandante(i, -1)" class="veneno-icon positivo">-1</button>
                    <button mat-icon-button (click)="$event.stopPropagation(); alterarComandante(i, +1)" class="veneno-icon negativo">+1</button>
                </div>
                <mat-error>Este campo é obrigatório!</mat-error>
            </mat-form-field>     
        </div>
    </div>
    <button mat-button (click)="adicionarComandante()" class="adicionar-comandante"><img src="../../../assets/icones/espada.png"> 
        Adicionar Comandante Adversário para Dano
    </button>
    <button mat-fab (click)="enviarAtualizacao()" color="primary" class="botao-enviar" aria-label="Salvar alterações no banco de dados remoto" matTooltip="Salvar Alterações" matTooltipPosition="above">
        <img src="../../../assets/icones/enviar.png">
    </button>
</form>   
<app-animacao-de-espera [mostrar]="mostrarEspera"></app-animacao-de-espera>