.vida-icon {
    top: -8px !important;
    color: white;
    font-weight: bolder !important;
    font-size: 16px !important;
}

.veneno-icon {
    top: -6px !important;
    color: white;
    font-weight: bolder !important;
    font-size: 14px !important;
}

.positivo {
    background-color: #0000FF;
}

.texto-positivo {
    color: #0000FF;
}

.negativo {
    background-color: #FF0000;
}

.texto-negativo {
    color: #FF0000;
    font-weight: bolder;
}

.apagar {
    background-color: #880000;
    top: -6px !important;
    color: white;
    font-size: 14px !important;
}

.vida {
    font-size: 18px;
    font-weight: bolder;
}

.veneno {
    font-weight: bolder;
}

.botoes {
    margin-right: 12px;
}

.imagem-botao {
    margin-bottom: 4px;
    margin-left: 1px;
}

.adicionar-comandante {
    margin-top: 6px;
}

h1 {
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
}

.botao-enviar {
    position: fixed;
    bottom: 12px;
    z-index: 99;
    left: calc( 50% - 28px);
}
